<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tienda de Abarrotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="w-[100vw] h-[100vh] bg-white">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">login</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card class="rounded-lg bg-transparent grid justify-items-center gap-4 p-8">
      <ion-card-header>
        <ion-card-title class="text-black">Acceso a la plataforma</ion-card-title>
        <ion-card-subtitle class="text-black">Por favor, ingrese sus credenciales.</ion-card-subtitle>
      </ion-card-header>


      <ion-card-content class="card divide-y-2 divide-black text-black">
        <ion-input class="input rounded-t-xl hover:bg-[var(--ion-color-primary)] hover:text-[var(--ion-color-primary-contrast)]" label="E-Mail:" placeholder="E-mail" [(ngModel)]="userLoginInput.userEmail"></ion-input>
        <ion-input class="input rounded-b-xl hover:bg-[var(--ion-color-primary)] hover:text-[var(--ion-color-primary-contrast)]" label="Contraseña:" placeholder="Contraseña" [(ngModel)]="userLoginInput.userPwd" type="password"></ion-input>
      </ion-card-content>
      <ion-button class="btn-md part(native):w-[300px]" (click)="doLogin(userLoginInput)">Iniciar Sesión</ion-button>
      <ion-button (click)="goToRegistration()">Registrarme</ion-button>
      <ion-button (click)="goToResetPwd()">Olvidé Mi Contraseña</ion-button>

      <div *ngIf="showLoginError" class="text-[var(--ion-color-danger)] font-bold">
        Credenciales Incorrectas :(
      </div>

      <div *ngIf="showInputError" class="text-[var(--ion-color-danger)] font-bold">
        Debe ingresar sus credenciales
      </div>
    </ion-card>
  </section>
</ion-content>