<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Driver Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" overflow-scroll="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Driver Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <main class="flex flex-col items-center">
    <ion-card-header class="text-center">
      <ion-card-title class="text-black">Tus viajes</ion-card-title>
      <ion-card-subtitle>Hoy tienes X viajes por realizar</ion-card-subtitle>
    </ion-card-header>


    <app-trip-card [type]="tripCardType.DRIVER" [tripsInfo]="trips" />

    <ion-button class="btn-primary-lg my-4">
      Agendar nuevo viaje
    </ion-button>
  </main>
</ion-content>
<!-- <app-tabnav></app-tabnav> -->