<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Encuentra un viaje!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="currentState$ | async as currentState">
  <ion-header />
  <ion-card-header>
    <ion-card-subtitle>Encuentra tu mejor opción!</ion-card-subtitle>
    <ion-card-title>Viajes Disponibles</ion-card-title>
  </ion-card-header>
  <app-trip-card [type]="tripCardType.PASSENGER" [tripsInfo]="tripsList" [actionButtons]="actionSheetButtons" [actionHeader]="actionHeader" [userID]="userID" />
</ion-content>