<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reestablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="h-full">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reestablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="bg-[var(--background-tertiary)]">
    <ion-card-content class="grid justify-items-center">
      <form [formGroup]="form" class="card text-black bg-white divide-y-2 divide-black">

        <ion-input class="input-secondary rounded-t-xl" label="E-Mail" labelPlacement="floating" helper-text="Ingrese su correo electrónico" error-text="Ingrese su correo electrónico" formControlName="email"></ion-input>
        <ion-input class="input-secondary" label="RUT" labelPlacement="floating" helper-text="Ingrese su RUT sin puntos ni guión" error-text="Debe ingresar un RUT válido" formControlName="rut"></ion-input>
        <ion-input class="input-secondary" label="Nueva Contraseña" labelPlacement="floating" helper-text="Contraseña Debe contener 6 caracteres como mínimo" error-text="Ingrese una contraseña válida" formControlName="password" type="password" placeholder="******"></ion-input>
        <ion-input class="input-secondary" label="Repita contraseña" labelPlacement="floating" formControlName="repeatPassword" helper-text="Ambas contraseñas deben ser iguales" type="password" placeholder="******"></ion-input>

        <div class="grid justify-center gap-3 py-8">
          <ion-button class="btn-secondary-lg" (click)="onSubmit()">Reestablecer Contraseña</ion-button>
          <ion-button class="btn-primary-lg justify-self-center" (click)="doResetForm()">Limpiar campos</ion-button>
        </div>

      </form>
    </ion-card-content>
  </ion-card>

  <ion-alert [isOpen]="isAlertOpen" header="Reestablecimiento de Contraseña" message="{{alertMsg}}" (didDismiss)="closeAlert()" [buttons]="alertButtons"></ion-alert>

  <div *ngIf="showInputError" class="errorFeedback">
    Debe ingresar sus credenciales
  </div>

</ion-content>