<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Viajes Realiados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header />
  <ion-card-header>
    <ion-card-title>Tus Viajes</ion-card-title>
  </ion-card-header>


  <div>
    <ion-card-header>
      <ion-card-subtitle>Reservas Esperando Confirmación:</ion-card-subtitle>
    </ion-card-header>
    <app-trip-card [type]="tripCardType.PASSENGER" [tripsInfo]="waitingTripsList" [userID]="userID" [showConfirmationButtons]="true" [showActionButtons]="false" [cancelAction]="cancelBooking" />
  </div>
  <ion-alert [isOpen]="isCancelAlertOpen" header="Cancelar Reserva" subHeader={{cancerAlertSubheader}} message={{cancerAlertMessage}} [buttons]="cancelAlertButtons" (didDismiss)="setCancelAlertOpen(false)"></ion-alert>

  <div>
    <ion-card-header>
      <ion-card-subtitle>Reservas Aceptadas:</ion-card-subtitle>
    </ion-card-header>
    <app-trip-card [type]="tripCardType.PASSENGER" [tripsInfo]="acceptedTripsList" [userID]="userID" [showActionButtons]="false" />
  </div>

  <div>
    <ion-card-header>
      <ion-card-subtitle>Reservas Rechazadas por el Conductor:</ion-card-subtitle>
    </ion-card-header>
    <app-trip-card [type]="tripCardType.PASSENGER_CANCELED" [tripsInfo]="rejectedTripsList" [userID]="userID" />
  </div>




</ion-content>