<ion-content [fullscreen]="true">
  <main class="bg-[var(--ion-color-success)] h-full">
    <section class="grid justify-items-center gap-6 p-6">
      <img class="" src="../../../assets/imgs/logo.png" alt="logo" width="50%" height="50%" />

      <p>Hola, {{currentState.userProfile.user_name}}</p>

      <ion-card-content class="card-trip-search-home divide-y-2 bg-white divide-black text-black">
        <ion-input class="overflow-hidden input-input-trip-search-home-trip rounded-t-xl" label="¿Dónde Vas?" placeholder="Lautaro Rosas 44, Valparaíso"></ion-input>
      </ion-card-content>

    </section>
  </main>


</ion-content>