<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form" class="grid gap-3">
        <ion-input
          label="Username"
          labelPlacement="floating"
          counter="true"
          helper-text="Username should have min 4 characters"
          error-text="Please enter a valid username"
          clear-input="true"
          formControlName="username"
        ></ion-input>
        <ion-input
          label="Email"
          labelPlacement="floating"
          error-text="Please enter a valid email"
          clear-input="true"
          type="email"
          formControlName="email"
          placeholder="email@example.com"
        ></ion-input>
        <ion-input
          label="Password"
          labelPlacement="floating"
          helper-text="Password should have min 6 characters"
          error-text="Please enter a valid password"
          formControlName="password"
          type="password"
          placeholder="******"
        ></ion-input>
        <ion-input
          label="Repeat password"
          labelPlacement="floating"
          formControlName="repeatPassword"
          type="password"
          placeholder="******"
        ></ion-input>
        <div *ngIf="showPasswordError" class="text-[var(--ion-color-danger)]">Las contraseñas deben coincidir</div>
        <div class="flex justify-center gap-3">
          <ion-button (click)="onSubmit()">Register</ion-button>
          <ion-button (click)="clearFields()">Clear all</ion-button>
        </div>
        
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
