<p>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="find-trip">
        <ion-icon name="map-outline"></ion-icon>
        Encontrar Viaje
      </ion-tab-button>
      <ion-tab-button tab="trips">
        <ion-icon name="car-sport-outline"></ion-icon>
        Mis Viajes
      </ion-tab-button>
      <ion-tab-button tab="my-profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        Mi Perfil
      </ion-tab-button>
      <ion-tab-button tab="help">
        <ion-icon name="help-circle-outline"></ion-icon>
        Ayuda
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</p>