<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="currentState$ | async as currentState">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Perfil De Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let prop of formItems" class="my-2">
      <ion-input label="{{prop.name}}" value="{{prop.value}}" [readonly]="true" class="my-2" />
    </ion-item>
  </ion-list>
</ion-content>