<div *ngIf="type === tripCardType.DRIVER">
  <main class="flex flex-col items-center">
    <ion-card-header class="text-center">
      <ion-card-title class="text-black">Tus viajes</ion-card-title>
      <ion-card-subtitle class="text-black">Hoy tienes X viajes por realizar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="flex flex-col items-center">
      <ion-card class="card-secondary">
        <ion-card-content>
          <ion-card-title>21/10 14:00</ion-card-title>
          <ion-card-subtitle class="flex gap-2">
            <ion-icon class="h-[22px] text-black" name="people-outline"></ion-icon>
            <ion-label class="text-black">Pasajeros:</ion-label>
            <li class="list-none">
              <ul>Sebastián Kravetz</ul>
              <ul>Natanael Pino</ul>
              <ul>Ángelo Sepúlveda</ul>
              <ul>Sebastián Parraguez</ul>
            </li>
          </ion-card-subtitle>
          <ion-card-subtitle>
            <div class="flex gap-2 items-center text-black">
              <ion-icon name="location-outline"></ion-icon>
              <ion-label>Paradas:</ion-label>
            </div>
            <ion-card>
              <img class="object-cover" src="/assets/imgs/map_1.png" alt="mapa" />
            </ion-card>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-card-content>

    <ion-button class="btn-primary-lg mb-8">
      Agendar nuevo viaje
    </ion-button>
  </main>
</div>

<div *ngIf="type === tripCardType.PASSENGER">
  passenger template!
</div>