<div *ngIf="type === tripCardType.DRIVER">
  <main class="flex flex-col items-center">

    <ion-card-content class="flex flex-col items-center">
      <ion-card class="card-secondary">
        <ion-card-content>
          <ion-card-title>{{ tripInfo?.tripDate || '' }} | {{ tripInfo?.tripTime || '' }}</ion-card-title>
          <ion-card-subtitle class="flex gap-2">
            <ion-icon class="h-[22px] text-black" name="people-outline"></ion-icon>
            <ion-label class="text-black">Pasajeros:</ion-label>
            <li class="list-none">
              <ul *ngFor="let passenger of tripInfo?.passengers">{{passenger}}</ul>
            </li>
          </ion-card-subtitle>
          <ion-card-subtitle>
            <div class="flex gap-2 items-center text-black">
              <ion-icon name="location-outline"></ion-icon>
              <ion-label>Paradas:</ion-label>
            </div>
            <ion-card>
              <img class="object-cover" src="/assets/imgs/map_1.png" alt="mapa" />
            </ion-card>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </main>
</div>

<div *ngIf="type === tripCardType.PASSENGER">
  passenger template!
</div>